databaase/src/main/mule/databaase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="645d9c77-5cc3-47c0-9675-121a8c6cd5a9" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0bdd5d14-8df9-480c-8003-42e9af1271be" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Vnaidu@1989" database="employeedata"/>
	</db:config>
	<flow name="databaaseFlow" doc:id="e1de60f6-1892-4d72-b8ff-b566204a70b6" >
		<http:listener doc:name="Listener" doc:id="d420a5ea-e39f-4ced-84cd-6577f9cb1296" config-ref="HTTP_Listener_config" path="db"/>
		<ee:transform doc:name="Transform Message" doc:id="c4a23385-6352-47ad-8c49-ae68bd446504" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 200 map {
	
	"id": 100 + $$,
	"empname": "naidu",
	"age":28
	
}
	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="bf44109a-2a0d-476c-b8ef-7e91386ba542" >
			<logger level="INFO" doc:name="Logger" doc:id="fcb9b475-c45b-47f8-a3ab-16e8b8573211" message="#[payload]" />
			<db:insert doc:name="Insert" doc:id="af5237db-5f0a-40cb-81db-9c1308c3b387" config-ref="Database_Config">
			<db:sql><![CDATA[insert into emp (id,empname, age)
values(:id, :empname, :age);]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		</foreach>
	</flow>
</mule>
