email/src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f334292b-554a-4012-a2c8-4dbe0793d776" >
		<http:listener-connection host="localhost" port="5656" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="b857bcac-4e16-423b-9a72-eeec85489f36" >
		<email:smtp-connection host="smtp.gmail.com" user="khyathinaidu1236@gmail.com" password="Vnaidu@1989" timeoutUnit="NANOSECONDS" port="587">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="emailFlow" doc:id="f8a3686f-fb81-4594-bb1b-cd1b08219ccd" >
		<http:listener doc:name="Listener" doc:id="d0e53bf8-8f05-40f5-a852-bba063df1b5f" config-ref="HTTP_Listener_config" path="email"/>
		<email:send doc:name="Send" doc:id="b16b5052-7da1-4a14-abef-e770514187dd" config-ref="Email_SMTP" subject="this mail for mulesoft test mail">
			<email:to-addresses >
				<email:to-address value="vineethkumarsanipalli666@gmail.com" />
				<email:to-address value="veeru14325@gmail.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[#['this mail for mulesoft ']]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="a2b58624-a82f-47ba-8df3-3d6f651593b9" message="Sucessfully send an email to users"/>
	</flow>
</mule>
