smtp/src/main/mule/smtp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a509c01-7892-4f5e-a93f-592e8f4fed02" >
		<http:listener-connection host="localhost" port="5656" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="377153e7-72ae-423c-8626-664313be8e12" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="khyathinaidu1236@gmail.com" password="Vnaidu@1989" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="0cbba6f5-1f2d-4c11-9e99-0f8f143f835c" />
	<email:smtp-config name="Email_SMTP1" doc:name="Email SMTP" doc:id="9a527f3c-f3a9-4609-aa12-f39ee5d17c0b" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="khyathinaidu1236@gmail.com" password="Vnaidu@1989" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="smtpFlow" doc:id="5494cdcf-f585-44ed-b8f2-a2845dc1921d" >
		<http:listener doc:name="Listener" doc:id="52c9418d-d05c-45c2-9d93-81d5e754aaa9" config-ref="HTTP_Listener_config" path="smtp"/>
		<file:read doc:name="Read" doc:id="17397513-197a-45d4-b19a-28ba114389db" config-ref="File_Config" path="C:\Users\Hp\Desktop\mulesoft.json"/>
		<email:send doc:name="Send" doc:id="faafa720-73cd-4b41-8436-4187414ad48e" config-ref="Email_SMTP" subject="text mail">
			<email:to-addresses >
				<email:to-address value="veeru14325@gmail.com" />
			</email:to-addresses>
			<email:cc-addresses />
			<email:body>
				<email:content ><![CDATA['hi']]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
"attachment.txt" : payload
}]]]></email:attachments>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="7427d046-d0d8-4189-aa18-f9667c9aa31b" message="successfully send an emil to users"/>
	</flow>
</mule>
